h3 {
    font-size: 14px;
}

.eb-description {
    font-size: 12px;
}

.eb-hidden {
    display: none;
}

.noteList {
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 100px;
}

.noteGroup {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
